!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/foundation.css", :rel => "stylesheet"}/
    %link{:href => "css/app.css", :rel => "stylesheet"}/
    %link{:href => "foundation-icons/foundation-icons.css", :rel => "stylesheet"}/
    %script{:src => "js/vendor/modernizr.js"}
    %title Lorem Ipsum
  %body
    .contain-to-grid.sticky.hide-for-small-only
      %nav.top-bar{"data-options" => "sticky_on: large", "data-topbar" => "", :role => "navigation"}
        %ul.title-area
          %li.name
            %h1
              %a{:href => "#"} Lorem Ipsum
        %section.top-bar-section
          %ul.right
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Blog
            %li
              %a{:href => "#"} Portfolio
            %li
              %a{:href => "#"} Contact
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.show-for-small-only.tab-bar{"data-no-turbolink" => ""}
          %section.left.tab-bar-section
            %h1.title.left Lorem Ipsum
          %section.right-small
            %a.right-off-canvas-toggle.menu-icon{:href => "#"}
              %span
        %aside.right-off-canvas-menu
          %ul.off-canvas-list
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Blog
            %li
              %a{:href => "#"} Portfolio
            %li
              %a{:href => "#"} Contact
        .row
          .columns
            %br
            %h4 Resize desktop browser to test
            %p This uses the off-canvas nav (only visable for small views), and a regular topbar for medium and large views. Resize your browser on Desktop to test.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vero, inventore corporis deleniti ut, eos veniam necessitatibus repudiandae in eaque itaque pariatur quibusdam neque enim aperiam laborum mollitia. Harum, ipsa? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repudiandae inventore nulla itaque numquam id qui, consequuntur necessitatibus tempora voluptates sapiente perspiciatis velit at minima! Impedit libero accusantium nam veritatis.
        .row
          .columns.panel
            %h1 Lorem ipsum
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam fugiat porro id enim. Distinctio nesciunt magni consequatur sunt dignissimos odit nam, facilis ab ex voluptates nemo obcaecati laboriosam! Voluptate, praesentium.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vero, inventore corporis deleniti ut, eos veniam necessitatibus repudiandae in eaque itaque pariatur quibusdam neque enim aperiam laborum mollitia. Harum, ipsa? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repudiandae inventore nulla itaque numquam id qui, consequuntur necessitatibus tempora voluptates sapiente perspiciatis velit at minima! Impedit libero accusantium nam veritatis.
        %a.exit-off-canvas
    %script{:src => "js/vendor/jquery.js"}
    %script{:src => "js/foundation.min.js"}
    :javascript
      $(document).foundation();